---
import Layout from "../layouts/Layout.astro";
import Card from "../components/Card.astro";
---

<Layout >
  <main class="flex-1">
    <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-4 gap-5 place-items-center place-content-center h-full">
      <Card
        href="https://www.github.com/"
        title="Github"
        body="Developer portal"
      />
      <Card
        href="https://www.youtube.com/"
        title="Youtube"
        body="Watch videos"
      />
      <Card
        href="https://open.spotify.com/"
        title="Spotify"
        body="Listen to music"
      />
      <Card
        href="https://www.netflix.com/"
        title="Netflix"
        body="Watch movies/tv"
      />
      <Card
        href="https://www.amazon.com/Amazon-Video/b?node=2858778011"
        title="Prime Video"
        body="Amazon prime movies/tv"
      />
      <Card
        href="https://dash.cloudflare.com"
        title="Cloudflare"
        body="Dashboard"
      />
      <Card
        href="https://gmail.com"
        title="GMail"
        body="Google Email"
      />
      <Card
        href="https://mail.proton.me/u/0/inbox"
        title="ProtonMail"
        body="Proton Email"
      />
      <Card
        href="https://www.amazon.com/"
        title="Amazon"
        body="Shopping"
      />
      <Card
        href="https://old.reddit.com/"
        title="Reddit"
        body="What the internet is thinking"
      />
    </div>
  </main>
</Layout>
