---
export interface Props {
  title: string;
  body: string;
  href: string;
}

const { href, title, body } = Astro.props;
---

<div class="w-2/3 rounded overflow-hidden shadow-lg bg-ui.line hover:text-syntax.hover">
  <a href={href} target="_blank">
    <div class="px-6 py-4">
      <div class="font-bold text-xl text-center mb-2">{title}</div>
      <p class="text-syntax.muted text-base text-center">
        {body}
      </p>
    </div>
  </a>
</div>
