---
import { getRssFeed } from "../utilities/articles";
export interface Props {
  feedName: string;
  url: string;
}
const { feedName, url } = Astro.props;

const rss = await getRssFeed(url)
const news = rss ? rss.items : [];
---

<div class="w-full">
    <a href={rss ? rss.link : "#"} rel="noreferrer" target="_blank">
      <h1 class="text-xl underline hover:text-syntax.hover">
        {feedName}
      </h1>
    </a>
    <div class="max-h-64 min-w-full overflow-y-scroll border-2 border-gray-900">
      {news.map((article => (
        <li class="hover:text-syntax.hover py-2">
          <p class="float-left text-sm text-gray-500 pr-2">
            {article.pubDate ? article.pubDate?.toLocaleString("default", {
              month: "short",
              day: "numeric",
              year: "numeric",
            }): ""}
          </p>
          <a rel="noreferrer" target="_blank" href={article.link}>{article.title}</a>
          <p class="hidden">{article.description ? article.description : ""}</p>
        </li>
      )))}
    </div>
</div>
